html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 14px/20px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	height: 100%;
}
a {
	color: #0590d9;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
input[type="button"], input[type="submit"] {margin:0;}
#wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background:#fff;
}
body {
	background:url('../img/bg.jpg');
	color:#818181;
}
/* pngfix 
-----------------------------------------------------------------------------*/

.nobr	{ white-space:nowrap;}
.float-left { float:left;}
.float-right { float:right;}


/* Header
-----------------------------------------------------------------------------*/
#header {
	background: #088bd0 url('../img/header-bg.jpg') repeat-x;
	background-color:#088bd0;
	height:90px;
	color:#fff;
}
#logo {
	margin: 13px 0 0 16px;
	width:230px;
	height:70px;
}
.social {
	width:23px;
	height:23px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	margin: 0px 5px 0 5px;
	zoom: 1;
	*display: inline;
	_height: 23px;
}
.wrapper-soc {
		margin:0 0 16px 0;
	}
.vk {
	background:url('../img/soc-vk.jpg');
}
.tw {
	background:url('../img/soc-tw.jpg');
}
.fb {
	background:url('../img/soc-fb.jpg');
}	
.tel{
	font-size:27px;
	color:#ffe200;
	letter-spacing:1px;	
	margin-left: 2px;
}
	.tel .number {
		display:inline-block;
		border-bottom:1px solid #ffe200;
		padding-bottom:4px;			
	}
	.tel .code {
		font-size:19px;
		text-decoration:none;
		color:#fff;
		position: relative;
		bottom: 1px;
		*bottom:7px;
	}
	.tel img {
		margin-right:10px;
	}
.right-box {
	float:right;
	margin:0 22px 0 0;
	width: 478px;
	height:90px;
}
.vcard {
	
	margin:16px 0 0 0;
}
.cart {
	
	margin:9px 0 0 0;
	text-align:right;
}
.cart a {
	color:#ffe200;
	text-transform:uppercase;
	font-size:15px;
}
.login {
	margin-top:3px;
}
.login  a {
	font-size:14px;
	text-decoration:none;
	text-transform:none;
	color:#fff;
}
.login  a:hover {
	text-decoration:underline;
}
/* Nav
-----------------------------------------------------------------------------
*/
#menu {margin-bottom:15px; height:36px;}

#menu ul {
	height:36px; 
	background: url('../img/bg-menu.jpg') repeat-x;
	background-position:0 0;
	width:100%;
	text-align:center;
	display:inline-block;
	overflow:hidden;
}
#menu ul  li{
	padding: 0px 20px;
	display:inline-block;
	text-align:center;
	zoom:1;
	*display:inline;
	*position:relative;
}

#menu ul  li a{
	padding:8px 0;
	display:block;
	float:left;
	text-decoration:none;
	font-size:13px;
	text-align:center;
	width: auto;
}
#menu ul  li:hover a{
	background: url('../img/bg-menu.jpg') repeat-x;
	background-position:0 -36px;
}
#menu ul  li.active a{
	background: url('../img/bg-menu.jpg') repeat-x;
	background-position:0 -36px;
}

.blauSqure {
	display:block;
	float:right;
	*float:none;
	*margin-bottom:3px;
	width:5px;
	height:5px;
	background: #127bb5;
	position: relative;
	left: 24px;
	top: 16px;
}
/*
 Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 60px;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 20px 0 264px;
}
/*-------------------- SLIESHOW --------------------- */
.slideShow {
	position:relative;
	width: 617px;
	margin: 0 auto;
}
.slidesjs-previous, .slidesjs-next, .bx-prev, .bx-next {
	width:35px;
	height:35px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	text-indent: -9000px;
} 
/*
.slidesjs-previous, .bx-prev  {	
	background: transparent url(../img/slideLeft.jpg) no-repeat top left;	
	top: 162px;
	margin-top: -19px;
	left: -50px;
}
.slidesjs-next, .bx-next {
	background: transparent url(../img/slideRight.jpg) no-repeat top left;
	top: 162px;
	margin-top: -19px;
	right: -50px;
	_right: 20px;
}
*/
.slidesjs-previous, .bx-prev  {	
	background: transparent url(../img/slideSprite.jpg) no-repeat 0 0;	
}
.slidesjs-next, .bx-next {
	background: transparent url(../img/slideSprite.jpg) no-repeat -35px 0;
}
.slidesjs-previous:hover, .bx-prev:hover  {	
	background: transparent url(../img/slideSprite.jpg) no-repeat 0 -35px;	
}
.slidesjs-next:hover, .bx-next:hover {
	background: transparent url(../img/slideSprite.jpg) no-repeat -35px -35px;
}
.slidesjs-previous {
	top: 162px;
	margin-top: -19px;
	left: -50px;
}
.slidesjs-next {
	top: 162px;
	margin-top: -19px;
	right: -50px;
	_right: 20px;
}
.slidesjs-previous:hover {
	top: 162px;
	margin-top: -19px;
	left: -50px;
}
.slidesjs-next:hover {
	top: 162px;
	margin-top: -19px;
	right: -50px;
	_right: 20px;
}

.bx-prev, .bx-prev:hover {left:0px; left: -50px; bottom: 140px;}
.bx-next, .bx-next:hover {right:0px; right: -50px; bottom: 140px;}

.slidesjs-pagination {
	text-align:center;
	padding-bottom:5px;
}
.slidesjs-pagination li {
	display:inline;
	width:5px;
	height:5px;

}
.slidesjs-pagination li  a{
	width:5px;
	height:5px;
	display:inline-block;
	background:#cccccc;
	margin-right:9px;
	text-transform:capitalize;
	font-size:0;
	line-height:0;
	*margin-top:10px;
	text-decoration:none;
}
.slidesjs-pagination li  a.active {background:#0590d9;}
.bluH1 {
	background:#0590d9;
	color:#fff;
	margin-top:18px;
	padding:8px 20px;
	overflow:hidden;
}
.bluH1 h1 {float:left; display:block; font-size:20px; font-weight: normal;}
.bluH1 a {
	display:block;
	float:right;
	font-size:14px;
	color:#fff;
	text-decoration:none;
}
.bluH1 a:hover {
	text-decoration:underline;
}
.slideProduct .item {
	float:left;
	padding:15px 0;
	border-right:1px solid #d2d2d2;
}
.boxCarou {
	position:relative;
}
.bx-wrapper {
	border:1px solid #d2d2d2;
	width: 600px;
	margin: 20px auto;
}
.bx-controls-direction {
	position:relative;
}
/*-------------------- products --------------------- */
.prodName {
	display:block;
}
.item-box{
	padding:0 15px;
	overflow:auto;
}
.prodCode{
	display:block;
	color:#cccccc;
	font-size:12px;
}
.marginBottomProd {
	margin-bottom:10px;
}
.priceProd{
	font-size:18px;
	display:block;
	color:#000;
}
.specPred{
	font-size:18px;
	display:inline-block;	
	text-decoration:line-through;
}
.newPrice {
	color:#e51212;
	font-size:18px;
}
.sep {
	display:inline-block;
	margin:0 5px;
	color:#ccc;
}
.sep, .newPrice {
	*position:relative;
	*bottom:10px;
}
.currency , .newPrice  span{
	font-size:14px;
}
.plusMinusInput {
	height:20px;
}
.plusMinusInput input {
	width:17px;
	height:14px;
	padding-left:9px;
	color:#837e7e;
	font-size:13px;
	margin:0;
}
.minus, .plus {
	height:13px;
	width:7px;
	display:inline-block;
	cursor:pointer;
}
.minus{
	background: url(../img/minus.jpg) no-repeat;
	position:relative;
	top:2px;	
	*top:-1px;	
	*left:-2px;		
}
.plus{
	background: url(../img/plus.jpg) no-repeat;
	position:relative;
	top:2px;
	*top:-1px;	
	*left:-2px;	
}
.buyButton {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:2px 2px 2px 32px;
	position:relative;
	background: url(../img/buyButton.jpg) repeat-x;
	border:1px solid #1186c6;
	width:75px;
	bottom:2px;
}
.buyButton  .cartPic{
	display:block;
	background: url(../img/cartSm.png) no-repeat;
	height:16px;
	width:19px;
	position:absolute;
	left: 7px;
	top: 3px
}
.news .bluH1 {
	background:#f8f8f8;
	color:#818181;
}

.news .bluH1 a {
	color:#0093dd;

}
.newsWrapper {
	padding:20px 50px;
	border-top:1px solid #cccccc;
	margin-top:12px;
	clear:both;
	overflow:hidden;
}
.newsWrapper img {
	float:left;
	border:1px solid #ccc;
	margin:0 12px 8px 0;
}
.newsWrapper h2 {
	font-size:16px;
	font-weight:normal;
	margin-bottom:10px;
	
}

.borderNone {
	border-top:0px;
	margin-top:0px;
}
/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 244px;
	margin-left: -100%;
	position: relative;
}

.form-search { padding-left: 20px; position:relative;}
input {
	color:#cccccc ;
}
.form-search input {
	width:205px;
	border:1px solid #9a9a9a;
	padding:8px;
	font-size:14px;
	font-style:italic;
}
.form-search  span {
	display:block;
	width:15px;
	height:15px;
	background: url('../img/search.jpg') no-repeat;
	position:absolute;
	top: 8px;
	right: 9px;
}
.catalog {
	margin:23px 0 0 0;
	border-right:1px solid #cdcdcd;

}
.catalog > ul {
	margin:0 0 23px 0;
}
.catalog ul li a {
	display:block;
	text-decoration:none;
	color:#818181;
	padding:7px 0 7px 22px;
	border-bottom:1px solid #cdcdcd;
}
.catalog ul li a:hover {
	color: #0590d9;
}
.catalog ul  li.active > a {
	border-left:4px solid #0590d9;
	padding:7px 0 7px 18px;
}
.catalog ul  li.active > a::after  {
	content: "";
	display:inline-block;
	width:8px;
	height:4px;
	background: url('../img/arrow.jpg') no-repeat;
	position:relative;
	left:79px;
	bottom:3px;
}
.catalog ul  li.active {
	border-bottom:1px solid #cdcdcd;
}
.catalog ul  li.active ul{
	margin-left:35px;
}
.child li a {
	padding: 7px 0 7px 0 !important;
	font-size:13px;
}
.child li:last-child a {
	border-bottom:0px;
}
.child li a  span{
	color:#cccccc;
}
.title {
	display:block;
	color:#242424;
	font-size:18px;
	padding-bottom:14px;
}
.subscribe {
	padding:0 22px 0 22px;
}
.subscribe p {
	font-size:12px;
}
.subscribe form {
	padding-bottom:23px;
	border-bottom:1px solid #cccccc;
}
.subscribe form div, .wmfg_text, .wmfg_btn {
	margin-bottom:12px;
}
.wmfg_a_td{
	padding:4px 0;
}
.wmfg_checkbox {
	margin:3px 3px 3px 0;
}
.wmfg_text{
	border:1px solid 818181;
	width:185px;
	height:21px;
	padding-left:10px;
}
.wmfg_btn {
	height:23px;
	width:100px;
	color:#fff;
	border:0;
	background: url('../img/subscribe-but.jpg') repeat-x;
	cursor:pointer;
}
.banner {
	margin-top:18px;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 1000px;
	margin: -60px auto 0;
	position: relative;
	border-top:1px solid #ccc;
	color:#cccccc;
	font-size:12px;
	padding-top:10px;
	background:#fff;
}
#footer div {
	margin-left:22px;
}
#footer .copyright {
	width:264px;
	float:left;
}
#footer .copyright a {
	color:#ccc;
	text-decoration:underline;
}
#footer .copyright a:hover {
	text-decoration:none;
}
.scrollup{
    width:93px;
    height:28px;
    opacity:1;
    position:fixed;
    top:0px;
    right:0px;
    display:none;
    text-indent:-9999px;
    background: url('../img/totop.jpg') no-repeat;
	z-index:999;
}
.noSidebar {
	padding:0 20px 20px 20px !important;
}
/* ----------------- */
.prodPage h1, .prodPage .price {
	color:#000;
	font-size:22px;
	font-weight:normal;

}
.prodPage h1 {
	line-height: 1.5;	
}
.prodPage .prodImg {
	border:1px solid #cccccc;
	float:left;
	margin-right:40px;
}
.prodPage .desc {
	margin-left:522px;
	display:block;
}
.prodPage .price {
	font-size:22px;
	float:left;
	margin-right:40px;
}
.prodPage .price .currency {
	font-size:18px;
}
.prodPage .buy  .buyButton{
	margin-left:10px;
}
.prodPage .buyWrapper {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:14px 0 10px 0;
	margin:50px 0 20px 0;
}
.prodPage .prodCode {
	padding:14px 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin:20px 0 20px 0;
}
.inSchops {
	clear:both;
	padding-top:55px;
}
.inSchops  h2 {
	font-weight:normal;
	font-size:16px;
	border-bottom:1px solid #ccc;
	margin-bottom:5px;
}
.inSchops  div  {color:#000; width:100%; padding:5px 5px 5px 45px;}
.inSchops  div:nth-child(odd) { background:#f5f5f5;}
.inSchops  div span{color:#818181; font-size:12px;}
