:root {
  --combobox-space: 0.5rem;
  --combobox-colors-light: rgb(206, 206, 206);
  --combobox-colors-dark: rgb(0, 0, 139);
}

.combobox {
  margin: 0 auto;
  max-width: 30rem;
  padding: 1rem;
  padding: calc(var(--combobox-space) * 2);
  position: relative;
  width: 100%;
}

.combobox__wrapper {
  position: relative;
}

.combobox__label {
  display: block;
}

.combobox__search {
  border-radius: .25rem .25rem 0 0;
  border: 1px solid #cecece;
  border-bottom: 2px solid #cecece;
  font-size: inherit;
  font-family: inherit;
  padding: .25rem .5rem;
  padding: calc(var(--combobox-space)/ 2) var(--combobox-space);
  width: 100%;
}

.combobox__dropdown {
  background-color: #fff;
  border: 1px solid #cecece;
  border-color: var(--combobox-colors-light);
  border-radius: .25rem;
  box-shadow: 0 0.1em 0.14em rgba(0,0,0,.12), 0 0.1em 0.18em rgba(0,0,0,.24);
  left: 2vmin;
  list-style: none;
  margin: 0;
  max-height: 20rem;
  overflow: scroll;
  padding: .5rem;
  padding: var(--combobox-space);
  position: absolute;
  left: 0;
  text-align: left;
  z-index: 100;
  width: 100%;
}

.combobox__option:not(:last-child) {
  padding: var(--combobox-space) 0;
}

.combobox__option {
  border-bottom: 2px solid var(--combobox-colors-light);
  position: relative;
}

.combobox__option:hover {
  cursor: pointer;
}

.combobox__option span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.combobox__option:after {
  background-color: #00008b;
  background-color: var(--combobox-colors-dark);
  bottom: -2px;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform .2s ease-out;
  width: 100%;
}

.combobox__option:hover:after {
  transform: scaleX(1);
}

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  0% {
     opacity: 1;
     transform: translateY(0);
  }
  100% {
     opacity: 0;
     transform: translateY(-20px);
  }
}

.fadeIn {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeOut {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}