<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
      <div class="app">
        <div class="global-notification">
          Cookie consent notice
        </div>
        <header></header>
        <aside></aside>
        <div role="main"></div>
      </div>
    </body>
</html>
