html, body {
  height: 100%;
  margin: 0;
}

.app {
  height: 100%;
  display: grid;
  grid-template-rows: auto 45px 1fr;
  grid-template-columns: 200px 1fr;
}

header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .16);
  grid-column: 1/-1; /* stretch from first grid line to last grid line */
  -ms-grid-column-span: 2;
  grid-row: 2;
}

aside {
  background-color: #213e48;
  grid-column: 1;
  grid-row: 3;
  /* defining the width on the grid child, not the grid container */
  width: 200px;
}

@media (max-width: 992px) {
  aside {
    width: 64px;
  }
}

[role=main] {
  grid-row: 3;
  grid-column: 2;
}

.global-notification {
  grid-column: 1/-1;
  -ms-grid-column-span: 2;
  grid-row: 1;
  color: white;
  background-color: #00749e;
  padding: 24px;
}
