body, html {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

img {
  display: block;
  margin: 50px auto;
}

header {
  color: #fff;
  padding: 10px;
  background: #007bff;
}

main {
  padding: 20px;
}

body > header {
  display: grid;
  grid-template-columns: 30%  70%;
}

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  header {
    padding: 20px 10px;
  }

  &_content {
    width: 80%;
    max-width: 280px;
    height: 100%;

    transition: transform .5s;
    background-color: #fff;
    box-shadow: 1px 1px 5px #999;
    backface-visibility: hidden;
  }

  &_hidden {
    transform: translateX(-103%);
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      padding: 15px 20px;
      margin: 0;
      border-bottom: 1px solid #c4c4c4; 
    }
  }
}