@import "~bootstrap/scss/bootstrap";
@import "./variables";

body, html, #root, .player-archieve {
  height: 100%;
}

body {
  color: $text-color;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.58;
}

.counter {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;

  > div:first-child {
    font-size: 100px;
  }

  a {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }

  .controls {
    display: flex;
    flex-direction: row-reverse;

    > div {
      min-width: 40px;
      height: 40px;
      text-align: center;
      background: #fff;
      color: #3f51b5;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 0 5px;
      cursor: pointer;
    }
  }
}
