<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="js/jquery.slides.min.js"></script>
	<script src="js/jquery.bxslider.min.js"></script>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if IE 6]>
	<script src="js/DD_belatedPNG_0.0.8a.js"></script>
	<script>
		DD_belatedPNG.fix('.png_bg');
	</script>
	<![endif]-->
</head>
<body>
<div id="wrapper">
	<header id="header">
		<img class="float-left png_bg" id="logo" src="img/logo.png" alt="Интернет магазин &laquo;Бухгалтер&raquo;"/>
		<div class="right-box">
			<div class="vcard float-left">
				<div class="wrapper-soc">
					<span class="text">Расскажите о нас -</span> <a href="#" class="social vk"></a><a href="#" class="social tw"></a><a href="#" class="social fb"></a>
				</div>
				<div class="tel fontsans">
					<img class="float-left png_bg" src="img/phone.png" alt=""/>
					<span class="code">+7 383</span> <span class="number">222-66-44</span>
				</div>
			</div>
			<div class="cart">
				<div class="float-right">
					<a href="#">Моя Корзина</a>
					<div><span>0 товаров</span> | <span>0 руб.</span></div>
				</div>
				<img class="png_bg" src="img/cart.png" alt=""/>
				<div class="fontsans login"><a href="#">Регистрация</a> | <a href="#">Войти</a></div>
			</div>	
		</div>
	</header><!-- #header-->
	<nav id="menu">
		<ul>
			<li class="active"><a href="#">Каталог продукции</a><span class="blauSqure"></span></li>
			<li><a href="#">Доставка и оплата</a><span class="blauSqure"></span></li>
			<li><a href="#">Новости компании</a><span class="blauSqure"></span></li>
			<li><a href="#">Интересные факты</a><span class="blauSqure"></span></li>
			<li><a href="#">Вакансии</a><span class="blauSqure"></span></li>
			<li><a href="#">Обратная связь</a><span class="blauSqure"></span></li>
			<li><a href="#">Контакты</a></li>
		</ul>
	</nav>
	<section id="middle">
		<div id="container">
			<div id="content">
				<div class="slideShow ">
					<div id="slides">
						<img src="img/slide1.jpg" alt="">
						<img src="img/slide2.jpg" alt="">
						<img src="img/slide3.jpg" alt="">
						<img src="img/slide4.jpg" alt="">
					</div>
				</div>
				<section class="boxCarou"> <!--  Carousel  -->
					<div class="bluH1"><h1>Лидеры продаж</h1><a href="#">Посмотреть всё >></a></div>
					<div class="slideProduct" id="bxslider1">
						<div class="item">
							<div class="item-box">
								<img src="img/product.jpg" alt="" />
								<a href="" class="prodName marginBottomProd">Кнопки-гвоздики 35шт Josef Otten черные</a>
								<span class="prodCode marginBottomProd">Код: У0000057969</span>
								<span class="priceProd marginBottomProd">14,93 <span class="currency">руб.</span></span>
								<div class="buy">
									<div class="plusMinusInput pmInput float-left">
										<span class="minus"></span>
										<input type="text" value="1" />
										<span class="plus"></span>
									</div>									
									<a href="#" class="buyButton float-right"><span class="png_bg cartPic"></span>
									В корзину</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="item-box">
								<img src="img/product.jpg" alt="" />
								<a href="" class="prodName marginBottomProd">Кнопки-гвоздики 35шт Josef Otten черные</a>
								<span class="prodCode marginBottomProd">Код: У0000057969</span>
								<span class="priceProd marginBottomProd">14,93 <span class="currency">руб.</span></span>
								<div class="buy">
									<div class="plusMinusInput pmInput float-left">
										<span class="minus"></span>
										<input type="text" value="1" />
										<span class="plus"></span>
									</div>									
									<a href="#" class="buyButton float-right"><span class="png_bg cartPic"></span>
									В корзину</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="item-box">
								<img src="img/product.jpg" alt="" />
								<a href="" class="prodName marginBottomProd">Кнопки-гвоздики 35шт Josef Otten черные</a>
								<span class="prodCode marginBottomProd">Код: У0000057969</span>
								<span class="priceProd marginBottomProd">14,93 <span class="currency">руб.</span></span>
								<div class="buy">
									<div class="plusMinusInput pmInput float-left">
										<span class="minus"></span>
										<input type="text" value="1" />
										<span class="plus"></span>
									</div>									
									<a href="#" class="buyButton float-right"><span class="png_bg cartPic"></span>
									В корзину</a>
								</div>
							</div>
						</div>
					</div>
				</section> <!--  Carousel  -->
				<section class="boxCarou"> <!--  Carousel  -->
					<div class="bluH1"><h1>Спецпредложения</h1><a href="#">Посмотреть всё >></a></div>
					<div class="slideProduct" id="bxslider2">
						<div class="item">
							<div class="item-box">
								<img src="img/product.jpg" alt="" />
								<a href="" class="prodName marginBottomProd">Кнопки-гвоздики 35шт Josef Otten черные</a>
								<span class="prodCode marginBottomProd">Код: У0000057969</span>
								<span class="priceProd marginBottomProd specPred">14,93 <span class="currency">руб.</span></span><span class="sep">|</span><span class="newPrice">10 <span class="currency">руб.</span></span>
								<div class="buy">
									<div class="plusMinusInput pmInput float-left">
										<span class="minus"></span>
										<input type="text" value="1" />
										<span class="plus"></span>
									</div>									
									<a href="#" class="buyButton float-right"><span class="png_bg cartPic"></span>
									В корзину</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="item-box">
								<img src="img/product.jpg" alt="" />
								<a href="" class="prodName marginBottomProd">Кнопки-гвоздики 35шт Josef Otten черные</a>
								<span class="prodCode marginBottomProd">Код: У0000057969</span>
								<span class="priceProd marginBottomProd specPred">14,93 <span class="currency">руб.</span></span><span class="sep">|</span><span class="newPrice">10 <span class="currency">руб.</span></span>
								<div class="buy">
									<div class="plusMinusInput pmInput float-left">
										<span class="minus"></span>
										<input type="text" value="1" />
										<span class="plus"></span>
									</div>									
									<a href="#" class="buyButton float-right"><span class="png_bg cartPic"></span>
									В корзину</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="item-box">
								<img src="img/product.jpg" alt="" />
								<a href="" class="prodName marginBottomProd">Кнопки-гвоздики 35шт Josef Otten черные</a>
								<span class="prodCode marginBottomProd">Код: У0000057969</span>
								<span class="priceProd marginBottomProd specPred">14,93 <span class="currency">руб.</span></span><span class="sep">|</span><span class="newPrice">10 <span class="currency">руб.</span></span>
								<div class="buy">
									<div class="plusMinusInput pmInput float-left">
										<span class="minus"></span>
										<input type="text" value="1" />
										<span class="plus"></span>
									</div>									
									<a href="#" class="buyButton float-right"><span class="png_bg cartPic"></span>
									В корзину</a>
								</div>
							</div>
						</div>
					</div>
				</section> <!--  Carousel  -->
				<section class="boxCarou"> <!--  Carousel  -->
					<div class="bluH1"><h1>Бухгалтерские бланки</h1><a href="#">Посмотреть всё >></a></div>
					<div class="slideProduct" id="bxslider3">
						<div class="item">
							<div class="item-box">
								<img src="img/product.jpg" alt="" />
								<a href="" class="prodName marginBottomProd">Кнопки-гвоздики 35шт Josef Otten черные</a>
								<span class="prodCode marginBottomProd">Код: У0000057969</span>
								<span class="priceProd marginBottomProd">14,93 <span class="currency">руб.</span></span>
								<div class="buy">
									<div class="plusMinusInput pmInput float-left">
										<span class="minus"></span>
										<input type="text" value="1" />
										<span class="plus"></span>
									</div>									
									<a href="#" class="buyButton float-right"><span class="png_bg cartPic"></span>
									В корзину</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="item-box">
								<img src="img/product.jpg" alt="" />
								<a href="" class="prodName marginBottomProd">Кнопки-гвоздики 35шт Josef Otten черные</a>
								<span class="prodCode marginBottomProd">Код: У0000057969</span>
								<span class="priceProd marginBottomProd">14,93 <span class="currency">руб.</span></span>
								<div class="buy">
									<div class="plusMinusInput pmInput float-left">
										<span class="minus"></span>
										<input type="text" value="1" />
										<span class="plus"></span>
									</div>									
									<a href="#" class="buyButton float-right"><span class="png_bg cartPic"></span>
									В корзину</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="item-box">
								<img src="img/product.jpg" alt="" />
								<a href="" class="prodName marginBottomProd">Кнопки-гвоздики 35шт Josef Otten черные</a>
								<span class="prodCode marginBottomProd">Код: У0000057969</span>
								<span class="priceProd marginBottomProd">14,93 <span class="currency">руб.</span></span>
								<div class="buy">
									<div class="plusMinusInput pmInput float-left">
										<span class="minus"></span>
										<input type="text" value="1" />
										<span class="plus"></span>
									</div>									
									<a href="#" class="buyButton float-right"><span class="png_bg cartPic"></span>
									В корзину</a>
								</div>
							</div>
						</div>
					</div>
				</section> <!--  Carousel  -->
				<section class="news">
					<div class="bluH1"><h1>Интересные факты</h1><a href="#">Все факты >></a></div>
					<article class="newsWrapper borderNone">
						<img src="img/news1.jpg" alt="" /> 
						<a href="#"><h2>Необычные ручки</h2></a>
						<p>
							О ручке, которая бьется током вы точно слышали. А вот вам подборка еще нескольких необычных ручек для письма. Не всеми этими ручками, конечно, удобно писать – и рука устает и почерк портиться, но ведь мало кто пишет от руки – есть компьютеры, так что такую ручку можно легко подарить как сувенир.
						</p>
					</article>
				</section>
				<section class="news">
					<div class="bluH1"><h1>Новости</h1><a href="#">Все факты >></a></div>
					<article class="newsWrapper borderNone">
						<img src="img/news1.jpg" alt="" /> 
						<a href="#"><h2>Необычные ручки</h2></a>
						<p>
							О ручке, которая бьется током вы точно слышали. А вот вам подборка еще нескольких необычных ручек для письма. Не всеми этими ручками, конечно, удобно писать – и рука устает и почерк портиться, но ведь мало кто пишет от руки – есть компьютеры, так что такую ручку можно легко подарить как сувенир.
						</p>
					</article>
					<article class="newsWrapper">
						<img src="img/news1.jpg" alt="" /> 
						<a href="#"><h2>Необычные ручки</h2></a>
						<p>
							О ручке, которая бьется током вы точно слышали. А вот вам подборка еще нескольких необычных ручек для письма. Не всеми этими ручками, конечно, удобно писать – и рука устает и почерк портиться, но ведь мало кто пишет от руки – есть компьютеры, так что такую ручку можно легко подарить как сувенир.
						</p>
					</article>
					<article class="newsWrapper">
						<img src="img/news1.jpg" alt="" /> 
						<a href="#"><h2>Необычные ручки</h2></a>
						<p>
							О ручке, которая бьется током вы точно слышали. А вот вам подборка еще нескольких необычных ручек для письма. Не всеми этими ручками, конечно, удобно писать – и рука устает и почерк портиться, но ведь мало кто пишет от руки – есть компьютеры, так что такую ручку можно легко подарить как сувенир.
						</p>
					</article>
				</section>
			</div><!-- #content-->
		</div><!-- #container-->
		<aside id="sideLeft">
				<form class="form-search">
					<input type="text" value="Что вы ищете?" onfocus="this.style.color='#818181'; this.value='';"/><span></span>
				</form>
				<div class="catalog">
					<ul>
						<li class="active">
							<a href="#">Товары для школы</a>
							<ul class="child">
								<li><a href="#">Альбомы для рисования <span>(14)</span> </a></li>
								<li><a href="#">Для творчества <span>(125)</span> </a></li>
								<li><a href="#">Касса букв и цифр, счетные палочки, вееры (5)</a></li>
								<li><a href="#">Чертежные принадлежности <span>(43)</span></a></li>
								<li><a href="#">Обложки для книг и тетрадей <span>(7)</span></a></li>
								<li><a href="#">Папки для акварели <span>(4)</span></a></li>
								<li><a href="#">Подставки для книг <span>(2)</span></a></li>
								<li><a href="#">Школьные журналы <span>(5)</span></a></li>
								<li><a href="#">Тетради <span>(95)</span></a></li>
								<li><a href="#">Цветная бумага и фольга <span>(20)</span></a></li>
								<li><a href="#">Цветной и белый картон <span>(22)</span></a></li>
							</ul>
						</li>
						<li><a href="#">Письменные принадлежности</a></li>
						<li><a href="#">Офисные принадлежности</a></li>
						<li><a href="#">Изделия из бумаги</a></li>
						<li><a href="#">Штемпельная продукция</a></li>
						<li><a href="#">Папки и архивы</a></li>
						<li><a href="#">Оргтехника</a></li>
						<li><a href="#">Компьютерные аксессуары</a></li>
						<li><a href="#">Бытовая техника</a></li>
						<li><a href="#">Мебель для офиса</a></li>
						<li><a href="#">Демонстрационное оборудование</a></li>
						<li><a href="#">Посуда и столовые принадлежности</a></li>
						<li><a href="#">Бухгалтерские бланки</a></li>
					</ul>
					<div class="subscribe">
						<span class="title">Подписка на рассылку</span>
						<p>Выберите нужную вам информацию и укажите электронный ящик, на который будет приходить  рассылка</p>
						<form>
							<div>
								<input type="checkbox" class="wmfg_checkbox" name="checkbox_1" id="checkbox_1" value="value 1"/>
								<label class="wmfg_label_a" for="checkbox_1">Акции</label>
							</div>
							<div>
								<input type="checkbox" class="wmfg_checkbox" name="checkbox_2" id="checkbox_2" value="value 2"/>
								<label class="wmfg_label_a" for="checkbox_2">Новости</label>
							</div>
							<div>
								<input type="checkbox" class="wmfg_checkbox" name="checkbox_3" id="checkbox_3" value="value 3"/>
								<label class="wmfg_label_a" for="checkbox_3">Новинки каталога</label>
							</div>
							
							<input type="text" class="wmfg_text" name="text_name" id="text_id" value="Что вы ищите?" onfocus="this.style.color='#818181'; this.value='';"/>
							<input type="submit" class="wmfg_btn" name="submit_name" id="submit_id" value="Подписаться"/>
							
						</form>
						<a href=""><img class="banner" src="img/banner.jpg" alt="Интернет магазин &laquo;Бухгалтер&raquo;"/></a>
					</div>
				</div>
		</aside><!-- #sideLeft -->

	</section><!-- #middle-->

</div><!-- #wrapper -->

<footer id="footer">
	<div class="copyright">
		2013 © «Бухгалтер»<br />
		Разработка сайта - <a href="#">Сибвэйпро</a>
	</div>	
	<div>
		ООО «Торгово-промышленная компания «Бухгалтер» занимается розничной торговлей канцелярскими товарами, производством бланочной и другой печатной продукции и включает в себя 8 магазинов «Бухгалтер»
	</div>
</footer><!-- #footer -->
<script src="js/script.js"></script>
<a href="#" class="scrollup">наверх</a>
</body>
</html>