<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="js/jquery.slides.min.js"></script>
	<script src="js/jquery.bxslider.min.js"></script>
	<script src="http://vkontakte.rujs/api/openapi.js" type="text/javascript" charset="windows-1251"></script>
	<!-- bxSlider CSS file -->
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<!--[if IE 6]>
	<script src="js/DD_belatedPNG_0.0.8a.js"></script>
	<script>
		DD_belatedPNG.fix('.png_bg');
	</script>
	<![endif]-->
</head>
<body>
<div id="wrapper">
	<header id="header">
		<img class="float-left png_bg" id="logo" src="img/logo.png" alt="Интернет магазин &laquo;Бухгалтер&raquo;"/>
		<div class="right-box">
			<div class="vcard float-left">
				<div class="wrapper-soc">
					<span class="text">Расскажите о нас -</span> <a href="#" class="social vk"></a><a href="#" class="social tw"></a><a href="#" class="social fb"></a>
				</div>
				<div class="tel fontsans">
					<img class="float-left png_bg" src="img/phone.png" alt=""/>
					<span class="code">+7 383</span> <span class="number">222-66-44</span>
				</div>
			</div>
			<div class="cart">
				<div class="float-right">
					<a href="#">Моя Корзина</a>
					<div><span>0 товаров</span> | <span>0 руб.</span></div>
				</div>
				<img class="png_bg" src="img/cart.png" alt=""/>
				<div class="fontsans login"><a href="#">Регистрация</a> | <a href="#">Войти</a></div>
			</div>	
		</div>
	</header><!-- #header-->
	<nav id="menu">
		<ul>
			<li class="active"><a href="#">Каталог продукции</a><span class="blauSqure"></span></li>
			<li><a href="#">Доставка и оплата</a><span class="blauSqure"></span></li>
			<li><a href="#">Новости компании</a><span class="blauSqure"></span></li>
			<li><a href="#">Интересные факты</a><span class="blauSqure"></span></li>
			<li><a href="#">Вакансии</a><span class="blauSqure"></span></li>
			<li><a href="#">Обратная связь</a><span class="blauSqure"></span></li>
			<li><a href="#">Контакты</a></li>
		</ul>
	</nav>
	<section id="middle">
		<div id="container">
			<div id="content" class="prodPage"> 
				<img class="prodImg" src="img/prodImg.jpg" alt=""/>
				<div class="desc">
					<h1>Бумага А4 Снегурочка 500л 80г/м2 96%</h1>
					<div class="buyWrapper">
						<div class="price">
							140600	 <span class="currency">руб.</span>
						</div>
						<div class="buy">
							<div class="plusMinusInput pmInput float-left">
								<span class="minus"></span>
								<input type="text" value="1" />
								<span class="plus"></span>
							</div>									
							<a href="#" class="buyButton">В корзину <span class="png_bg cartPic"></span></a>
						</div>
					</div>
					<p class="prodDesc">
						Универсальная бумага "Снегурочка" предназначена для повседневной работы в офисе. Гарантирует стабильное качество при работе на высокопроизводительном офисном оборудовании.
					</p>
					<ul>
						<li>Формат А4</li>
						<li>Белизна - 96% (ГОСТ), 146% (CIE)</li>
						<li>Плотность - 80 г/м2</li>
						<li>Класс С</li>
						<li>500 листов в пачке</li>
					</ul>
					<div class="prodCode">
						Код: У0000057969
					</div>
				</div>
				<div class="inSchops">
					<h2>Наличие данного товара в магазинах</h2>
							<div>
								г. Новосибирск, Вокзальная магистраль, д. 19 <span>(Схема проезда: <a href="">Остановка "Универмаг Октябрьский")</a></span>
							</div>				
							<div>
								г. Новосибирск, пр. Карла Маркса, д. 6  <span>(Схема проезда: <a href="">Остановка "Универмаг Октябрьский")</a></span>
							</div>
							<div>
								г. Новосибирск, пересечение ул. Кирова и ул. Гурьевская (ул. Гурьевская, д. 64а)  <span>(Схема проезда: <a href="">Остановка "Универмаг Октябрьский")</a></span>
							</div>
							<div>
								г. Новосибирск, Красный проспект, д. 155 <span>(Схема проезда: <a href="">Остановка "Универмаг Октябрьский")</a></span>
							</div>	
				</div>
			</div><!-- #content-->
		</div><!-- #container-->
		

	</section><!-- #middle-->

</div><!-- #wrapper -->

<footer id="footer">
	<div class="copyright">
		2013 © «Бухгалтер»<br />
		Разработка сайта - <a href="#">Сибвэйпро</a>
	</div>	
	<div>
		ООО «Торгово-промышленная компания «Бухгалтер» занимается розничной торговлей канцелярскими товарами, производством бланочной и другой печатной продукции и включает в себя 8 магазинов «Бухгалтер»
	</div>
</footer><!-- #footer -->
<script src="js/script.js"></script>
<a href="#" class="scrollup">наверх</a>
</body>
</html>